---
layout: default
title: Automation Software
description: Automation Software Engineer.
representing_image: "/images/iwantyou-02-01.png"
---
<style type="text/css">
#job-table {
    width: 100%;
}
#job-table td {
    text-align: center;
}
.hiring-banner {
  height: 320px;
  background-position-y: 80%;
}
.hiring-subtitle,
.btn-job
{
  display: none;
}
@media only screen and (max-width: 360px) {
  .hiring-banner {
    height: 220px;
  }
}
</style>
<div class="post">
<h2>소개</h2>

<ul>
<li><a href="http://thyeun.github.io/">Ltd is a software design and integration </a> making application for machine control and vision system.</li>
<li><a href="http://thyeun.github.io/">Yeun's studios </a> March 2012 launched several integration software for the current machine on semiconductor industrial, over 500 machines will using it.</li>
</ul>

{{ content }}
